<header class="site-header">
    <div class="content-maxwidth content-padding">
        <a class="hamburger" href="#"></a>
    </div>
</header>



<div class="hero hero-big hero-stars">
    <div class="content-maxwidth content-padding hero-logo">

        <div class="logo-subtitle logo-subtitle-top">
            <span class="logo-subtitle-text">webdev</span>
            <div class="logo-subtitle-line"></div>
        </div>

        <h1 class="logo-title">scn.cx</h1>

        <div class="logo-subtitle logo-subtitle-bottom">
            <div class="logo-subtitle-line"></div>
            <span class="logo-subtitle-text">blog</span>
        </div>

    </div>

    <!--<nav class="nav nav-toggle-menu">
        <a href="#">Stuff</a>
    </nav>-->
</div>



<!--
<a href="{{ site.baseurl }}/">{{ site.title }}</a>
<nav class="site-nav">
    {% for my_page in site.pages %}
        {% if my_page.title %}
            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
        {% endif %}
    {% endfor %}
</nav>
-->
