@import "variables";
@import "utilities";

html,
body {
    color: $base-font-color;
    background: $background-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" on, "calt" on, "liga" on;
       -moz-font-feature-settings: "kern" on, "calt" on, "liga" on;
         -o-font-feature-settings: "kern" on, "calt" on, "liga" on;
            font-feature-settings: "kern" on, "calt" on, "liga" on;
    font-smoothing: antialiased;
    font-kerning: normal;
}
