h1 {
    font-size: 2.8rem;
    line-height: 3rem;
    margin: 0 0 2.5rem 0;
}

h2 {
    font-size: 1.8rem;
    line-height: 2rem;
    margin: 0 0 1.5rem 0;
}

h3 {
    font-size: 1.3rem;
    line-height: 1.5rem;
    margin: 0 0 1.1rem 0;
}

h4,
h5,
h6 {
    font-size: 1rem;
    line-height: 1.2rem;
    margin: 0 0 1rem 0;
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    font-family: $heading-font-family;
}

code {
    color: $code-text-color;
    background: $code-background-color;
    border-radius: $content-border-radius;
    font-family: $code-font-family;
    font-size: $code-font-size;
    padding: 0 .5rem;
}

a > code {
    text-shadow: none;
}

pre > code {
    display: block;
    overflow: auto;
    margin: 0 -1rem $content-padding;
}

.post {
    font-family: $text-font-family;

    h2[id]:before,
    h3[id]:before,
    h4[id]:before,
    h5[id]:before,
    h6[id]:before {
        content: '\00b6';
        position: absolute;
        color: #3e3e3e;
        font-weight: normal;
        font-size: 1.3rem;
        right: 100%;
        padding-right: 1rem;
        cursor: pointer;
        opacity: 0;
        transition: opacity .125s ease;
    }

    h2[id]:hover:before,
    h3[id]:hover:before {
        opacity: 1;
    }

    a {
        position: relative;
        text-decoration: none;
        color: #000;
        transition: color .2s ease-out;
        z-index: 1;
        @include horizontal-text-shadow();

        &:after {
            content: '';
            display: block;
            position: absolute;
            background: #080808;
            bottom: .1rem;
            left: .1rem;
            right: .1rem;
            height: 1px;
            z-index: -1;
            transform: scaleX(.985);
            transition: transform 0.3s ease;
        }

        &:hover {
            color: #383838;
        }

        &:hover:after {
            transform: scaleX(.8);
        }

        &:focus {
            outline: 1px dashed #B3B3B3;
            outline-offset: 2px;
        }

        &:visited {
            color: #7B7092;
        }

        &:visited:after {
            background: #C7C0D6;
        }
    }

    ol,
    ul,
    p {
        font-size: 1rem;
        line-height: $base-line-height;
        margin: 0 0 $content-padding 0;
        text-align: justify;
    }

    p.article-lead {
        font-weight: bold;
        font-size: 1.2rem;
        font-family: 'Alegreya SC';
        letter-spacing: .15rem;
    }

    p.article-lead::first-letter {
        font-size: 5rem;
        line-height: 4.5rem;
        margin-right: .2rem;
        float: left;
    }

    p.article-lead::after {
        content: '';
        @include clearfix();
    }

    blockquote {
        position: relative;
        margin: 0 0 1.4rem 0;
        padding: 1rem;
        border: 1px solid #d9d9d9;
        border-left: none;
        border-radius: 0 5px 5px 0;
    }

    blockquote::before {
        content: '';
        position: absolute;
        right: 100%;
        top: -1px;
        bottom: -1px;
        width: 4px;
        background: $accent-color;
    }

    blockquote > :last-child {
        margin-bottom: 0;
    }
}
