@mixin clearfix() {
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

@mixin horizontal-text-shadow($color: $background-color, $count: 3) {
    text-shadow:
        -1px 0 0 $color, 1px 0 0 $color,
        -2px 0 0 $color, 2px 0 0 $color,
        -3px 0 0 $color, 3px 0 0 $color;
}
