// colors - dream
$nile-blue: #174C4F;
$elm:       #207178;
$tangerine: #FF9666;
$salomie:   #FFE184;
$sidecar:   #F5E9BE;

// colors - acat
$cerise-red:  #D9304F;
$big-stone:   #1A3140;
$breaker-bay: #659FA6;
$new-orleans: #F2D6A2;
$froly:       #F2786D;

$white: #fefefe;
$gallery: #efefef;


// base
$main-color: $big-stone;
$accent-color: $cerise-red;
$background-color: lighten($new-orleans, 19);
$code-background-color: #f6f6f3;
$code-text-color: #002b36;


$grid-columns: 12;


$base-font-size: 16px;
$base-line-height: 1.4rem;
$base-font-color: $main-color;
$heading-font-color: $accent-color;
$small-font-color: desaturate(lighten($main-color, 30), 30%);
$small-font-size: .8rem;
$code-font-size: .8rem;

$display-font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$text-font-family: 'Merriweather', 'Times New Roman', serif;
$smallcaps-font-family: 'Alegreya SC', serif;
$code-font-family: monospace;
$base-font-family: $display-font-family;
$heading-font-family: $display-font-family;


$content-border-radius: .3rem;
$content-padding: 1rem;
$content-max-width: 720px;


$global-font-size-breakpoints: 500px 600px 700px;



$burger-color: #efefef;
$burger-stroke-height: 2px;
$burger-stroke-margin: .6rem;
$burger-width: 2rem;
$burger-height: 1.4rem;
$burger-transition-time: .4s;
$burger-active-background: darken($breaker-bay, 5);

$topnav-line-height: $base-line-height;
$topnav-base-background: $breaker-bay;
$topnav-light-background: lighten($topnav-base-background, 5);


$postnav-fallback-color-light: $breaker-bay;
$postnav-fallback-color-dark: darken($breaker-bay, 5);
$postnav-transition-time: .3s;
$postnav-background-color: #fff;
$postnav-link-background: $new-orleans;
$postnav-link-color: $base-font-color;
