.hamburger-toggle {
    transform-origin: right;
    @include transform(translateX(100%));
    @include transition(transform $burger-transition-time ease, opacity $burger-transition-time ease);
    opacity: 0;
}

.hamburger-checkbox {
    position: absolute;
    z-index: 4;
    top: $content-padding;
    right: $content-padding;
    width: $burger-width;
    height: $burger-height;
    opacity: 0;
    cursor: pointer;
    @include tap-color(transparent);

    &:checked ~ .hamburger {
        background: $burger-active-background;

        > span:nth-child(2) {
            @include transform(rotate(45deg));
        }

        > span:nth-child(3) {
            @include transform(rotate(-45deg));
        }

        > span:first-child {
            @include transform(translateY($burger-height / 2) scaleX(.5));
            opacity: 0;
        }

        > span:last-child {
            @include transform(translateY($burger-height / 2 * -1) scaleX(.5));
            opacity: 0;
        }
    }

    &:checked ~ .hamburger-toggle {
        @include transform(translateX(0));
        opacity: 1;
    }
}

.hamburger {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: $burger-width + 2 * $content-padding;
    height: $burger-height + 2 * $content-padding;
    z-index: 3;
    cursor: pointer;
    background: rgba($burger-active-background, 0);
    @include tap-color(transparent);
    @include transition(background $burger-transition-time ease);

    > span {
        position: absolute;
        background: $burger-color;
        height: $burger-stroke-height;
        left: $content-padding;
        right: $content-padding;
        top: $content-padding;
        @include transition(transform $burger-transition-time ease, opacity $burger-transition-time ease);
    }

    > span:nth-child(2),
    > span:nth-child(3) {
        top: $content-padding + $burger-height / 2;
        @include transition(transform $burger-transition-time ease);
    }

    > span:last-child {
        top: $content-padding + $burger-height;
    }
}
