.hero {
    position: relative;
    padding: 2rem 0;
    background: $new-orleans;
    background-size: cover;
    background-position: center center;
    color: #fff;
    text-align: center;
    overflow: hidden;

    &.hero-big {
        padding: 4rem 0;
    }

    &.hero-stars {
        background-color: $topnav-base-background;
        background-image: -webkit-linear-gradient(right, $topnav-base-background, $topnav-light-background);
        background-image: linear-gradient(to right, $topnav-base-background, $topnav-light-background);
    }

    &.hero-stars:before,
    &.hero-stars:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &.hero-stars:before {
        top: 0;
        background-image: url('/assets/img/dish.svg');
        background-repeat: no-repeat;
        background-position: bottom center;
        @include calc(background-size, 7rem, "6rem + 5vw");
    }

    &.hero-terrain:after {
        height: 2rem;
        background-image: url('/assets/img/terrain.svg');
        background-repeat: repeat-x;
        background-position: top center;
        z-index: 1;
        top: 0;
        bottom: auto;
        transform: rotateX(-180deg);
    }
}


.hero-logo {
    display: inline-block;
    color: #fff;

    .logo-title {
        margin: 0 auto;
        font-weight: 600;
        font-family: $display-font-family;
        letter-spacing: .2rem;
        @include calc(font-size, 5rem, "4rem + 2vw");
        @include calc(line-height, 5rem, "4rem + 2vw");
    }

    .logo-subtitle {
        font-size: 1.2rem;
        font-weight: 300;
        @include flexbox();
        @include flex-direction(row);
        @include align-items(center);

        .logo-subtitle-line {
            @include flex(1 0 auto);
            background: #fff;
            height: .2rem;
            border-radius: $content-border-radius;
        }

        &:first-child {
            margin-bottom: -1rem;
        }

        &:first-child .logo-subtitle-text {
            padding-right: $content-padding;
        }

        &:last-child .logo-subtitle-text {
            padding-left: $content-padding;
        }
    }
}
