.hero {
    position: relative;
    padding: 2rem 0;
    background: rebeccapurple;
    background-size: cover;
    background-position: center center;
    color: #fff;
    text-align: center;

    &.hero-big {
        padding: 4rem 0;
    }

    &.hero-stars {
        background-color: $tangerine;
        background-image: url('/assets/img/grunge.jpg');
        background-size: auto;
    }

    &.hero-stars:before,
    &.hero-stars:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &.hero-stars:before {
        top: 0;
        background-image: url('/assets/img/dish.svg');
        @include calc(background-size, 7rem, "6rem + 5vw");
        background-repeat: no-repeat;
        background-position: bottom center;
    }

    &.hero-stars:after {
        height: 2rem;
        background-image: url('/assets/img/terrain.svg');
        background-repeat: repeat-x;
        background-position: top center;
        z-index: 1;
    }
}


.hero-logo {
    display: inline-block;
    color: #fff;
    @include filter(drop-shadow(0 0 15px rgba(#000, .6)));

    .logo-title {
        margin: 0 auto;
        font-weight: 400;
        font-family: monospace;
        letter-spacing: -.2rem;
        @include calc(font-size, 5rem, "4rem + 2vw");
        @include calc(line-height, 5rem, "4rem + 2vw");
    }

    .logo-subtitle {
        font-size: 1.2rem;
        font-weight: 300;
        @include flexbox();
        @include flex-direction(row);
        @include align-items(center);

        .logo-subtitle-line {
            @include flex(1 0 auto);
            background: #fff;
            height: .2rem;
            border-radius: $content-border-radius;
        }

        &:first-child {
            margin-bottom: -1rem;
        }

        &:first-child .logo-subtitle-text {
            padding-right: $content-padding;
        }

        &:last-child .logo-subtitle-text {
            padding-left: $content-padding;
        }
    }
}
