.panel-container {
    padding-left: $content-padding / 2;
    padding-right: $content-padding / 2;

    .panel {
        padding: $content-padding / 2;

        @media (min-width: $viewport-lg) {
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
        }
    }
}


.panel {
    &-title {
        margin-bottom: .5rem;
        font-weight: 400;
    }
    &-list {
        list-style: none;
        margin: 0;
    }
    .list-element {
        margin-top: 5px;
        @include flexbox();
        @include align-items(stretch);

        .element-title,
        .element-description {
            display: block;
        }

        .element-title {
            text-align: right;
            padding-right: 10px;
            @include flex(1 1 45%);
        }

        .element-description {
            padding-left: 10px;
            @include flex(1 1 55%);
        }
    }
}
