---
layout: blank
---
{% include header.html %}

{% if page.hero %}
    <div class="hero">
        <div class="content-max-width content-padding">
            <h1>{{ page.hero }}</h1>
        </div>
    </div>
{% endif %}

<main class="content-maxwidth content-padding">
    {{ content }}
</main>

{% include footer.html %}

<style id="header-terrain-scroll"></style>
<script type="text/javascript">
    var onDomReady = function(fn){
        if(document.readyState != 'loading'){
            fn();
        } else {
            document.addEventListener('DOMContentLoaded', fn);
        }
    };
    onDomReady(function(){
        var styleEl = document.getElementById('header-terrain-scroll');
        document.addEventListener('scroll', function(e){
            if(e.target !== document){
                return;
            }
            //styleEl.innerHTML = '.hero.hero-stars:after { transform: translateX(-' + window.scrollY + 'px); }';
        });
    });
</script>
