---
layout: default
class: page-article
---

{% assign m = page.date | date: "%-m" %}
{% case m %}
    {% when '1'  %}{% assign m = "Januar" %}
    {% when '2'  %}{% assign m = "Februar" %}
    {% when '3'  %}{% assign m = "März" %}
    {% when '4'  %}{% assign m = "April" %}
    {% when '5'  %}{% assign m = "Mai" %}
    {% when '6'  %}{% assign m = "Juni" %}
    {% when '7'  %}{% assign m = "Juli" %}
    {% when '8'  %}{% assign m = "August" %}
    {% when '9'  %}{% assign m = "September" %}
    {% when '10' %}{% assign m = "Oktober" %}
    {% when '11' %}{% assign m = "November" %}
    {% when '12' %}{% assign m = "Dezember" %}
{% endcase %}

{% assign dy = page.date | date: "%a" %}
{% case dy %}
    {% when 'Mon' %}{% assign dy = "Montag" %}
    {% when 'Tue' %}{% assign dy = "Dienstag" %}
    {% when 'Wed' %}{% assign dy = "Mittwoch" %}
    {% when 'Thu' %}{% assign dy = "Donnerstag" %}
    {% when 'Fri' %}{% assign dy = "Freitag" %}
    {% when 'Sat' %}{% assign dy = "Samstag" %}
    {% when 'Sun' %}{% assign dy = "Sonntag" %}
{% endcase %}

<article class="post">
    <div class="post-cover {% if page.coverimage contains '.svg' %}post-cover-svg{% endif %}" style="width:100%;height: 400px;{% if page.coverimage %}background-image: url('{{ page.coverimage }}');{% endif %}{% if page.coverfillcolor %}background-color:#{{ page.coverfillcolor }};{% endif %}">
        <header class="post-header">
            <h1>{{ page.title }}</h1>
            <p class="post-meta small">
                <time class="meta-time" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%-d" }}. {{ m }} {{ page.date | date: "%Y" }}</time>
                •
                <span class="meta-author">{{ page.author }}</span>
            </p>
        </header>
    </div>

    <div class="post-content">
        {{ content }}
    </div>

    <footer class="post-footer">
        <time datetime="{{ page.date | date_to_xmlschema }}">{{ dy }}, {{ page.date | date: "%-d" }}. {{ m }} {{ page.date | date: "%Y" }}</time>
    </footer>
</article>
