html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure,
input,
textarea,
nav {
    margin: 0;
    padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

input:focus,
textarea:focus {
    outline: none;
}

html,
body {
    color: $base-font-color;
    background: $color-background;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    padding: $content-padding;
    -webkit-text-size-adjust: 100%;
       -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
         -o-text-size-adjust: 100%;
            text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" on, "calt" on, "liga" on;
       -moz-font-feature-settings: "kern" on, "calt" on, "liga" on;
         -o-font-feature-settings: "kern" on, "calt" on, "liga" on;
            font-feature-settings: "kern" on, "calt" on, "liga" on;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: auto;
     -webkit-font-smoothing: antialiased;
             font-smoothing: antialiased;
    font-kerning: normal;
}


*, *:after, *:before {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #5EADB9;
    background: transparent;

    &:active,
    &:hover {
        outline: 0;
    }
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

//  * Prevent `sub` and `sup` affecting `line-height` in all browsers.
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button,
input {
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}

input {
    line-height: normal;

    &[type="reset"],
    &[type="submit"] {
        -webkit-appearance: button;
        cursor: pointer;
    }

    &[type="checkbox"],
    &[type="radio"] {
        box-sizing: border-box;
        padding: 0;
    }

    &[type="number"] {
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            height: auto;
        }
    }

    &[type="search"] {
        -webkit-appearance: textfield;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;

        &::-webkit-search-cancel-button,
        &::-webkit-search-decoration {
            -webkit-appearance: none;
        }
    }
}

textarea {
    resize: vertical;
    overflow: auto;
}

/* CSS Reset for fieldset & legend elements */
legend {
    padding: 0;
    display: table;
    width: 100%;
}
fieldset {
    padding: 0.01em 0 0 0;
    min-width: 0;
    margin: 0;
    border: 0;
}
body:not(:-moz-handler-blocked) fieldset {
    display: table-cell;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

@include selection(rgba(#98A89E, .5));
