h1 {
    font-size: 2.8rem;
    line-height: 3rem;
    margin: 0 0 2.5rem 0;
}

h2 {
    font-size: 1.8rem;
    line-height: 2rem;
    margin: 0 0 1.5rem 0;
}

h3 {
    font-size: 1.3rem;
    line-height: 1.5rem;
    margin: 0 0 1.1rem 0;
}

h4,
h5,
h6 {
    font-size: 1rem;
    line-height: 1.2rem;
    margin: 0 0 1rem 0;
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading-color;
    position: relative;
    font-family: $heading-font-family;
}

p {
    font-size: 1rem;
    line-height: $base-line-height;
}

.small {
    font-size: $small-font-size;
    color: $small-font-color;
}

.big {
    font-size: $big-font-size;
    font-weight: $big-font-weight;
}

code {
    color: $code-text-color;
    background: $code-background-color;
    border-radius: $content-border-radius;
    font-family: $code-font-family;
    font-size: $code-font-size;
    padding: 0 .5rem;
    @include box-decoration-break();
}

a > code {
    text-shadow: none;
}

pre > code {
    display: block;
    overflow: auto;
    margin: 0 0 $content-padding;
    padding: .5rem;
}

ul,
ol {
    margin-left: 1rem;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.justify {
    text-align: justify;
}

.loading {
    text-align: center;
    color: #9a9a9a;
}
